body > article {
  position: relative;
  width: 100%;
  z-index: 1;
  @include display-box;
  @include backface-visibility(hidden);
  @include vendor(animation-fill-mode, forwards);
  &:not(.active) {
    visibility: hidden;
  }
  &.active {
    visibility: visible;
  }
  &.aside {
    @include transform(translateX($ASIDE_WIDTH));
  }
}