[submodule "component"]
	path = component
	url = https://github.com/tapquo/bower-atoms
[submodule "style/CSSmethods"]
	path = style/CSSmethods
	url = https://github.com/soyjavi/CSSmethods.git
[submodule "bower_components/atoms-icons"]
	path = bower_components/atoms-icons
	url = https://github.com/tapquo/bower-atoms-icons.git
