button

  header nav &
    color: darken(THEME, 25%)

    &:hover, &:active, &.active
      color: WHITE !important

  header nav.right > &
    color: lighten(THEME, 85%)

  section &
    border-radius: BORDER_RADIUS
    text-transform: uppercase
    background-color: BUTTON
    color: #999
    box-shadow 0em -0.185rem 0em rgba(0, 0, 0, 0.1) inset

    & > .icon
      opacity: 0.85

    & > abbr
      font-weight: bold

    &:not(.disabled):hover, &:not(.disabled):active
      & > .icon
        opacity: 1

    &:not(.disabled):hover
      background-color: darken(BUTTON, 20%)
      color: #fff
    &:not(.disabled):active
      background-color: darken(BUTTON, 40%)
      box-shadow 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset

    /* COLORS */
    &.accept
      background-color: ACCEPT
      &:hover
        background-color: darken(ACCEPT, 20%)
      &:active
        background-color: darken(ACCEPT, 30%)
    &.cancel
      background-color: CANCEL
      &:hover
        background-color: darken(CANCEL, 15%)
      &:active
        background-color: darken(CANCEL, 30%)
    &.warning
      background-color: WARNING
      &:hover
        background-color: darken(WARNING, 15%)
      &:active
        background-color: darken(WARNING, 30%)
    &.accept, &.cancel, &.warning
      color: #fff

    &.disabled
      color: darken(BUTTON, 10%)
      background-color: lighten(BUTTON, 25%)
      cursor: default
      box-shadow none
    /* COLORS */
    transition: opacity 0.25s ease, background-color 0.25s ease, color 0.25s ease, box-shadow 0.25s ease


  section nav &
    border-radius: 0
    border-left: inset 1px rgba(0,0,0,0.05)
    &:first-child
      border-radius: BORDER_RADIUS 0 0 BORDER_RADIUS
      border-left: none
    &:last-child
      border-radius: 0 BORDER_RADIUS BORDER_RADIUS 0

  footer &
    color: lighten(DARK, 50%)
    &:active, &:hover, &.active
      color: WHITE




