@import "../../bower_components/CSSmethods/vendor.styl"

HEADER_HEIGHT = 3.25rem
FOOTER_HEIGHT = 3.75rem

FONT_SIZE_TINY          = 0.8rem
FONT_SIZE_LABEL         = 0.85rem
FONT_SIZE_SMALL         = 0.9rem
FONT_SIZE_NORMAL        = 1.0rem
FONT_SIZE_BIG           = 1.2rem
