
.left
  float: left
.right
  float: right


.rounded
  border-radius: 1rem

.circular
  border-radius: 500rem



.margin-top
  margin-top: 1rem
.margin-right
  margin-right: 1rem
.margin-bottom
  margin-bottom: 1rem
.margin-left
  margin-left: 1rem
