nav
  line-height: 1rem

  section &, footer &
    width: 100%
    display-box()
    box-pack(justify)
    & > button
      box-flex(1)
      display: block
      padding: 0
      height:  HEADER_HEIGHT
      text-align: center
      width: 1px
      margin: 0
