fieldset, form {
  &[molecule-search] {
    & > button {
      box-shadow: none !important;
      border-radius: 0 $BORDER_RADIUS $BORDER_RADIUS 0;
      background-color: $FORM_COLOR;
      color: $WHITE;
    }
  }
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], select, textarea, label.select {
  font-family: "Helvetica Neue", "Helvetica", Arial;
  background-color: $WHITE;
  border: 1px solid $FORM_COLOR;
  border-radius: $BORDER_RADIUS;
  color: $DARK;
  @include transition(background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease);

  &.error, &.required {
    color: darken($CANCEL, 5%);
    background-color: lighten($CANCEL, 92.5%);
    border-color: lighten($CANCEL, 20%);

    &::-webkit-input-placeholder {
      color: lighten($CANCEL, 40%);
    }
    &::-moz-placeholder {
      color: lighten($CANCEL, 40%);
    }
    &:-ms-input-placeholder {
      color: lighten($CANCEL, 40%);
    }
  }
  &::-webkit-input-placeholder{
    color: $FORM_COLOR;
  }
  &::-moz-placeholder{
    color: $FORM_COLOR;
  }
  &:-ms-input-placeholder{
    color: $FORM_COLOR;
  }
}
