[atom-template="LoginSignup"] {
  text-align: center;
  position: relative;
  color: $WHITE;
  &, & section {
    background: $THEME;
  }
  & section {
    padding: 1.5rem 1.5rem 0 1.5rem;
  }
  & h1 {
    margin: 4rem 0 1rem 0;
    font-size: 2rem;
  }
  & img {
    margin-top: 3rem;
    max-height: 5rem;
    & + h1 {
      margin-top: 1rem;
    }
  }
  & small {
    font-size: 0.85rem;
    position: absolute;
    left: 1rem;
    right: 1rem;
    bottom: 0.5rem;
  }
}