THEME           = #00AFE3
DARK            = #2f2f2f

WHITE           = #fff
BUTTON          = #EBEBEB
CANCEL          = #e74c3c
ACCEPT          = #2ecc71
WARNING         = #edba22

BORDER_RADIUS   = 0.2rem
