nav
  article header & button
    color: lighten(THEME, 75%)

  aside section &
    & a
      font-weight: normal
      &:not(.active)
        color: THEME
      &.active
        color: WHITE


  aside header & button
    color: lighten(DARK, 75%)

  header & button
    &:hover, &:active, &.active
        color: WHITE !important

  footer & button
    color: lighten(DARK, 50%)
    &:active, &:hover, &.active
      color: WHITE



