body > aside
  background: DARK
  width: ASIDE_WIDTH

  vendor(animation-duration, ANIMATION_DURATION)
  vendor(animation-timing-function, ANIMATION_EASE)
  &.active
    &[data-state="in"]
      vendor(animation-name, aside-in)
    &[data-state="out"]
      vendor(animation-name, aside-in)
      vendor(animation-direction, reverse)
      vendor(animation-fill-mode, forwards)

  & header
    background-color: darken(DARK, 10%)


TRANSLATE = -50%
@keyframes aside-in
  0%
    transform: translateX(TRANSLATE)
  100%
    transform: translateX(0)
