body > article
  position: absolute
  transform-origin: 100% 100%

  vendor(animation-duration, ANIMATION_DURATION)
  vendor(animation-timing-function, ANIMATION_EASE)
  &.active
    &[data-state="in"]
      vendor(animation-name, article-in)
    &[data-state="out"]
      vendor(animation-name, article-in)
      vendor(animation-direction, reverse)
      vendor(animation-fill-mode, forwards)
    &[data-state="back-in"]
      vendor(animation-name, article-out)
    &[data-state="back-out"]
      vendor(animation-name, article-out)
      vendor(animation-direction, reverse)
      vendor(animation-fill-mode, forwards)

  header
    background-color: THEME

  section
    background-color: BACKGROUND

  footer
    background: DARK


TRANSLATE = 110%
OPACITY   = 0.25
DEGREES   = -15deg

@keyframes article-in
  0%
    transform: translateX(TRANSLATE)
  100%
    transform: translateX(0)

@keyframes article-out
  0%
    transform: translateZ(0)
  100%
    transform: rotateY(DEGREES)
    opacity: OPACITY
