@import "vendor";

$THEME           : #6441a5; 
$BACKGROUND      : #F4F4F4; 

$DARK            : #2f2f2f;

$WHITE           : #fff;
$BUTTON          : #EBEBEB;
$CANCEL          : #e74c3c;
$ACCEPT          : #2ecc71;
$WARNING         : #edba22;

$BORDER_RADIUS   : 0.2rem;


/* -------------------------- FORM -------------------------- */
$FORM_COLOR          : darken(#e5e5e5, 10%);
$FORM_BORDER         : 2px;


/* ------------------------ ANIMATION ----------------------- */
$ANIMATION_DURATION  : 450ms;
$ANIMATION_STEPS     : 15;
$ANIMATION_EASE      : cubic-bezier(0.645, 0.045, 0.355, 1.000);

