body, html
  height: 100%
  width: 100%
  margin: 0
  padding: 0
  overflow: hidden

  & > aside, & > article
    display-box()
    box-orient(vertical)
    height: inherit
    webkit-transform: translate3d(0,0,0)

    & > header, > footer
      box-flex(0)
      z-index: 3
      position: relative

    & > header
      ordinal-group(1)

    & > section
      box-flex(1)
      ordinal-group(2)

    & > footer
      ordinal-group(3)

  // @TODO: Style for iOS WebApp
  &.standalone
    & > article
      padding-top: 16px

body
  vendor(perspective, 800px)
  vendor(transform-style, preserve-3d)


/* -------------------------- CLASSES -------------------------- */

.left
  float: left
.right
  float: right

.rounded
  border-radius: 1rem

.circular
  border-radius: 500rem

.margin-top
  margin-top: 1rem
.margin-right
  margin-right: 1rem
.margin-bottom
  margin-bottom: 1rem
.margin-left
  margin-left: 1rem
