nav
  // line-height: 1rem

  article section &, footer &
    width: 100%
    display-box()
    box-pack(justify)
    & > button
      box-flex(1)
      display: block
      padding: 0
      text-align: center
      width: 1px
      margin: 0

  section & > button
    height:  HEADER_HEIGHT

  footer & > button
    height:  FOOTER_HEIGHT
    font-size: (FONT_SIZE_NORMAL * 1.5)


  aside section &
    & > a
      display: block
      line-height: HEADER_HEIGHT
      & .icon
        font-size: FONT_SIZE_BIG
        margin-right: 0.25rem
