body > article
  position: relative
  width: 100%
  z-index: 1

  display-box()
  backface-visibility hidden
  vendor(animation-fill-mode, forwards)

  &:not(.active)
    visibility: hidden
  &.active
    visibility: visible

  &.aside
    transform: translateX(ASIDE_WIDTH)
