body, html
  height: 100%
  width: 100%
  margin: 0
  padding: 0
  overflow: hidden

  & > aside, & > article
    display-box()
    flex-direction(vertical)
    height: inherit
    webkit-transform: translate3d(0,0,0)

    & > header, > footer
      box-flex(0)
      z-index: 3
      position: relative

    & > header
      ordinal-group(1)

    & > section
      box-flex(1)
      ordinal-group(2)

    & > footer
      ordinal-group(3)

  // @TODO: Style for iOS WebApp
  &.standalone
    & > article
      padding-top: 16px

body
  vendor(perspective, 800px)
  vendor(transform-style, preserve-3d)
